.locInfos {
    width: 550px;
    margin-left: 50px;
    position: relative;
    bottom: 125px;
}

.locComponent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative; 
}

.locInfos header {
    color: black;
    font-family: 'Outfit';
    font-size: 60px;
    line-height: 120%;
    font-weight: 600;
    text-transform: uppercase;
}

.locInfos p {
    width: 340px;
    margin-top: 60px;
    font-family: 'Noto Sans';
}

.locInfos > div {
    margin-top: 60px;
}

.locInfos > div div {
    color: #15616D
}

.mapContainer {
    grid-area: mapa;
}

.map {
    width: 861.36px;
    height: 626.27px;
    border: solid 10px #202020;
    border-radius: 15px;
}

@media (max-width: 768px) {

   .locInfos {
    position: relative;
    bottom: 0;
    width: 100%!important;
    margin-left: 0px;
}

    .locInfos header {
        font-size: 28px;
        text-align: center;
        width: 100vw
    }

    .locInfos p {
        width: 100vw;
        text-align: center;
    }

    .locInfos > div {
        margin-top: 40px!important;
    }

    .locInfos > div div {
        width: 100vw;
        text-align: center;
    }

    .mapContainer {
        height: 325px!important;
        margin-top: 25px;
        width: 95vw
    }

    .map {
        width: 100%;
        height: 100%;
    }

    .locArea {
        width: 100vw;
    }

    .locComponent {
        width: 100vw!important;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
}